  /* MatchDetails.css */
  .match-details-container {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background-color: #121212;
      color: #ffffff;
    }
    body{
      background-color: #121212;
    }
    .match-details-left {
      flex: 1;
      padding-right: 20px;
    }
    .details-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      font-size: 16px;
  }
  
  .details-label {
      font-weight: bold;
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #333333;
      color: #ffffff;
  }
  
  .details-value {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #333333;
      color: #ffffff;
  }
    .match-not-found {
      text-align: center;
      font-size: 18px;
      color: #ff5722;
    }
    
    .match-details-header {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .match-details-item {
      margin-bottom: 5px;
    }
    
    .match-details-right {
      flex: 1;
    }
    
    .players-table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .team-name {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #333333;
      background-color: #2196F3;
      color: #ffffff;
    }
    
    .player-name {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #333333;
      color: #ffffff;
    }
    
    .match-status {
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
    }
    
    .upcoming {
      background-color: #009688;
    }
    
    .ongoing {
      background-color: #FF9800;
    }
    
    .old {
      background-color: #4CAF50;
    }
    