/* PlayerDetail.css */
.player-detail {
    padding: 20px;
    background-color: #121212; /* Dark Background */
    color: #ffffff; /* Light Text Color */
    border-radius: 5px;
    /* box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.1); */
    overflow: auto;
    max-height: 80vh; /* Set maximum height to 80% of the viewport height */
  }
  
  .player-detail h2 {
    margin-bottom: 10px;
  }
  
  .player-detail ul {
    list-style-type: none;
    padding: 0;
  }
  
  .player-detail ul li {
    margin-bottom: 5px;
  }
  
  /* Additional styles for smaller screens */
  @media (max-width: 768px) {
    .player-detail {
      margin-top: 10px;
      max-height: 70vh; /* Adjust as needed */
    }
  }
  