/* TournamentsPage.css */
.tournaments-page {
    padding: 20px;
    background-color: #121212;
    /* Dark Background */
    color: #ffffff;
    /* Light Text Color */
}

.tournament-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0;
}

.tournament-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196F3;
    /* Primary Color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tournament-button:hover {
    background-color: #1976D2;
    /* Darker shade of Primary Color */
}

.tournament-card {
    display: block;
    background-color: #1E1E1E;
    /* Light Background */
    border: 1px solid #333333;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: #ffffff;
    /* Light Text Color */
    transition: background-color 0.3s;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
}

.tournament-card:hover {
    background-color: #333333;
    /* Dark Background */
}

/* Additional styles for tournament details page */

.details-tables-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    overflow: auto;
}

.tournament-details-table-container,
.matches-table-container {
    flex: 1;
    background-color: #121212;
    /* Dark Background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.1);
    overflow: auto;
}

.tournament-details-table-container h3,
.matches-table-container h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #ffffff;
}

.tournament-details-table {
    width: 100%;
    border-collapse: collapse;
}

.tournament-details-table th,
.tournament-details-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #555555;
    color: #ffffff;
}

.tournament-details-table th {
    font-weight: bold;
}

.matches-table {
    width: 100%;
    border-collapse: collapse;
}

.matches-table th,
.matches-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555555;
    color: #ffffff;
}

.matches-table th {
    font-weight: bold;
    background-color: #333333;
}

.matches-table td.view-details {
    cursor: pointer;
    color: #2196F3;
    /* Primary Color */
    text-decoration: underline;
    font-weight: bold;
}

/* Apply responsive styles for smaller screens */
@media (max-width: 768px) {
    .details-tables-container {
        flex-direction: column;
    }

    .tournament-details-table-container,
    .matches-table-container {
        flex: none;
        width: 100%;
        margin-top: 10px;
    }
}
